hla01.int {
    log stdout
    # Mkcert - https://github.com/FiloSottile/mkcert
    tls /root/certs/hla01.int.pem /root/certs/hla01.int-key.pem

    proxy / http://web:8080 {
        transparent
        header_upstream X-Marotagem  true
        header_upstream Host  "hla01.int"
    }

}
